@import url('./includes/root.css');
@import url('./includes/animations.css');

footer {
    display: flex;
    font-family: 'Roboto';
    color: #FFF;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 140px;
    position: absolute;
    bottom: 0;
    background: var(--main-blue);
}

footer .contacts {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

footer .contacts div {
    display: flex;
    gap: 24px;
    align-items: center;
}

footer .copyright {
    font-size: 20px;
}

footer .container-social-media-icons {
    display: flex;
    gap: 32px;
}
footer .container-social-media-icons .social-media-icon i {
    font-size: 2rem;
}
footer .container-social-media-icons .social-media-icon {
    border-radius: 50%;
    padding: 16px;
    border: 2px solid #FFF;
    transition: 500ms all ease-in-out;
}

footer .container-social-media-icons .social-media-icon:hover{
    color: var(--main-blue);
    background: #FFF;
}