@import url('./includes/root.css');
@import url('./includes/animations.css');


* {
    font-family: 'Roboto';
}
header {
    animation: navbar-animation-down 500ms linear;
}
footer {
    animation: footer-animation-up 500ms;
}
.panel-container {
    position: relative;
    top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    gap: 49px;
    height: fit-content;
}

.course-name {
    font-weight: 500;
    font-size: 64px;
    color: var(--main-blue);
}



.filter-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 50px;
    background: var(--secondary-blue);
}

.drop-down {
    z-index: 99;    
    margin-left: 96px;
}

.drop-down:hover .drop-down-menu {
    display: flex;
}

.drop-down-menu {
    display: none;
    z-index: 99;
    position: absolute;
    background: var(--main-blue);
    min-width: 150px;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    color: #FFF;
    border-radius: 12px;
}

.drop-down-menu span {
    cursor: pointer;
}

.filter-caption {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-right: 96px;
}

.filter-caption span {
    font-weight: bolder;
    color: var(--main-blue);
}

.filter-caption span:nth-child(2),
.filter-caption span:nth-child(3) {
    display: flex;
    align-items: center;
}

.filter-caption span:nth-child(2)::before,
.filter-caption span:nth-child(3)::before {
    display: inline-block;
    position: relative;
    right: 8px;
    content: '';
    width: 30px;
    height: 30px;
    background: var(--main-blue);
    border-radius: 50%;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.filter-caption span:nth-child(3)::before {
    background: var(--yellow);
}


.container-cards {
    display: flex;
    max-width: 1400px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    gap: 62px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 300px;
    cursor: pointer;
    padding: 10px;
    transition: 300ms all ease-in-out;
    border-radius: 12px;
}
.card:hover {
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.25);
    transform: scale(1.05);
}
.card h3 {
    text-align: center;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 12px;
}

.card img {
    max-width: 90%;
}

/* css class used in js*/
.cursando {
    background: var(--main-blue);
}

.finalizado {
    background: var(--yellow);
}

.hide {
    display: none;
}